.education__timeline--single-item {
  display: flex;
}
.single-item__education--content {
  max-width: 50%;
  flex-grow: 1;
  position: relative;
}
.education__timeline--single-item h4{
  color: #52C4F7;

}
.justify-content-end {
  justify-content: flex-end;
}
.education__timeline {
  position: relative;
}

.education__timeline--vertical-line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: red;
  left: 50%;
  transform: translateX(-50%);
}
.text-right {
  text-align: right;
}
.pr-30 {
  padding-right: 30px;
}
.pl-30 {
  padding-left: 30px;
}
.single__timeline_bullet {
  position: absolute;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 9;
}
.position-right {
  right: -8px;
}
.position-left {
  left: -8px;
}
.mb-10 {
  margin-bottom: 10px;
}
@media only screen and (max-width: 575px) {
  .education__timeline--vertical-line {
    left: 0;
    transform: unset;
  }
  .single-item__education--content {
    max-width: 100%;
  }
  .position-right {
    left: -7px;
    right: auto;
  }
  .position-left {
    left: -7px;
  }
  .pr-30 {
    padding-right: 0;
    padding-left: 30px;
  }
  .text-right {
    text-align: left;
  }
  .single-item__education--content {
    padding-bottom: 35px;
  }
}
