
.stack .title::after {
    content: "what i know";
}
.stack-container {
	margin: 0 auto;
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.tech-container {
	width: 10em;
	height: 10em;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(254, 254, 254);
	border-radius: 1.5em;
	box-shadow: yellow;
	overflow: hidden;
	font-size: 0.8rem;
	font-weight: 500;
}

.tech-container::before {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	transform: scaleX(0);
	width: 100%;
	height: 6px;
	border-radius: 1.5;
	/* background-color: var(--primary-alt); */
	background-color:  #52C4F7;;
	transition: all 0.2s linear;
}

.tech-container:hover::before {
	transform: scaleX(1);
}

.tech-container i {
	font-size: 3rem;
	margin-bottom: 0.2em;
}
.tech-container img {
	height: 60px;
	width: auto;
	margin-bottom: 0.2em;
}
@media (max-width: 950px) {
	
	.stack-container i {
		font-size: 3rem;
	}
}

/* =================
     4. components
   ================= */

/* buttons */


/* icons */

.icon-normal,
.icon-border {
	margin: 0.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	cursor: pointer;
	border-radius: 50%;
	font-size: 1.2rem;
}

.icon-normal:hover,
.icon-border:hover {
	color: var(--bg);
}

.icon-normal::after,
.icon-border::after {
	content: '';
	position: absolute;
	width: 0%;
	height: 0%;
	z-index: -1;
	background-color: var(--primary);
	border-radius: 50%;
	transition: all 0.25s ease-in-out;
}

.icon-normal:hover::after,
.icon-border:hover::after {
	width: 100%;
	height: 100%;
	border: 0.2em solid gray;
}

.icon-normal {
	width: 1.6em;
	height: 1.6em;
	color: rebeccapurple;
}

.icon-border {
	width: 2.2em;
	height: 2.2em;
	color: red;
	border: 0.15em solid yellowgreen;
}



@media (max-width: 1000px) {
	.scroll-container {
		display: none;
	}
}


@media (max-width: 580px) {
	.fa-bars {
		display: flex;
	}
}
